{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- FullScreen -->
<div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
        <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Slang Town</h1>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Phrases you didn't know you need to know</h3>
        <ul class="list-inline intro-social-buttons">
            <li id="download" ><a href="#searchlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Search Now</span></a>
            </li>
        </ul>
    </div>    
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
        <div class="button_down "> 
            <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="{% static 'img/icon/circle.png' %}" alt=""> </a>
        </div>
    </div>
</div>


{% endblock %}
